.section {
  padding: 60px 0;

  @include desctop {
    padding: 94px 0;
  }
}

.section--no-padding {
  padding-top: 0;
}

.section--is-hidden {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--other-background {
  background-color: $light-background-color;
}

.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  text-align: center;

  color: $title-text-color;

  @include desctop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
