$logo-color: #000000;
$dark-logo-color: #ffffff;

$accent-color: #2196f3;

$primary-text-color: #757575;
$title-text-color: #212121;
$dark-text-color: #ffffff;
$footer-contacts-text-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;

$primary-background-color: #ffffff;
$light-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$project-background-color: rgba(33, 150, 243, 0.9);

$button-text-colour: #ffffff;
$button-secondary-background-colour: #f5f4fa;
$button-focus-color: #188ce8;

$header-line: #ececec;
$border-elements: #eeeeee;

/*Цвет Логотипа: #FFFFFF ##000000

Акцент #2196F3

Цвет основного текста #212121
Вторичный цвет текста #757575
Вторичный цвет текста на темном фоне #FFFFFF
Текст емейла и телефона в футере rgba(255,255,255,.6)  
Цвет иконок #AFB1B8

Цвет фона #FFFFFF
Вторичный цвет фона #F5F4FA
Вторичный цвет фона #2F303A

Цвет подчеркивания хедера #ECECEC
Цвет рамок елементов портфолио #EEEEEE
*/

/*  Шрифты 
Raleway – 700
Roboto – 400, 500, 700, 900 */
